
{{#if isOwner}}
  <h2>Update the room</h2>

<form action="/rooms/{{_id}}/edit" method="post">
    <input type="text" name="name" value="{{name}}">
    <input type="text" name="description" value="{{description}}">
    <input type="text" name="imageUrl" value="{{imageUrl}}">
    <input type="hidden" name="owner" value="{{owner}}">

    <button type="submit">Update Room</button>
</form>
{{/if}}
